{% extends 'base.html.twig' %}

{% block title %} Se connecter {% endblock %}
{% block description %}Page de connexion {% endblock %}
{% block image %}public/image.jpg{% endblock %}
{% block type %} <!--Note if this page is an article or a website--> {% endblock %}
{% block url %} <!-- Site URL to complete : http://www.example.com/--> {% endblock %}

{% block body %}
<section class="login-section col-6 mx-auto d-flex flex-column align-items-center" >   
    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    <form class="login-form col-6 d-flex flex-column align-items-center p-5" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="field-container col-6 d-flex flex-column align-items-center">
        <label for="inputUsername" class="mb-2">Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-4" autocomplete="username" required autofocus>
        <label for="inputPassword" class="mb-2">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control mb-4 col-2" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <p>
            <a href="#"> Mot de passe oublié ?</a>
        </p>
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="button btn btn-lg mt-4" type="submit">
            Se connecter
        </button>
    </form>
</section>
{% endblock %}
