{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block description %} Page d'accueil du site communautaire Snowtricks{% endblock %}
{% block image %}public/image.jpg{% endblock %}
{% block type %} <!--Note if this page is an article or a website--> {% endblock %}
{% block url %} <!-- Site URL to complete : http://www.example.com/--> {% endblock %}
{% block author %}Emilie Schott{% endblock %}

{% block body %}
    <h1 id="home">Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1 id="tricks">Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    
{% endblock %}
